body {
  background-color: #f2f2f2;
  margin: 0 auto;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
}

.tk-futura-pt {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1px;
}

/* NAVBAR */

.navbar {
  height: ;
  border-radius: 0;
  margin-bottom: 0;
  background-color: #2C303B;
  border: none;
  text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  padding: 5px 0;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-nav .nav-btn {
  color: white;
  opacity: .3;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.navbar-default .navbar-nav .getaquote {
  opacity: 1;
  background-color: #E74B3B;
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 5px;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.navbar-default .navbar-nav .nav-btn:hover{
  color: white;
  opacity: 1;
}

.navbar-default .navbar-nav .getaquote:hover {
  opacity: .7;
  background-color: #E74B3B;
}

.navbar img {
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;
  max-height: 30px;
}

.navbar-toggle {
  border: 0px solid transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2C303B;
}

/* JUMBOTRON */
main {
  position: relative;
  text-align: center;
}

.main video {
  width: 100%;
}

.main .content {
  position: absolute;
  top: 110px;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: white;
}

.jumbotron a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
}

.jumbotron h1 {
  font-size: 6.8vw;
}

.jumbotron h4 {
  font-weight: 100;
  font-size: 3vw;
}

.jumbotron .btn {
  font-size: 2.7vw;
}

.btn-first {
  /*border: 2px solid white;*/
  padding: 10px 20px;
  border-radius: 30px;
  margin-right: 15px;
  color: #333333;
  background-color: white;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.btn-first:hover {
  opacity: .7;
  color: #333333;
}

.btn-contact {
  background-color: #E74B3B;
  padding: 10px 20px;
  border-radius: 30px;
  margin-right: 15px;
  color: white;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.btn-contact:hover {
  opacity: .7;
  color: white;
}

/* SERVICES */
.services {
  text-align: center;
  background-color: #f2f2f2;
  padding: 30px 0;
}

.services h2 {
  margin: ;
}

.services img {
  max-width: 80%;
  margin: 0px auto 0px;
}

.services h5 {
  margin: 0 auto;
  padding: 0px 0 20px;
}


/* BENEFITS */

.benefits {
  background-color: white;
}

.benefit {
  padding: 90px 20px 50px;
}

/* WORK */

.work {
  text-align: center;
  padding: 30px 0 40px;
  background-color: ;
}

.work .row {
  /*background-color: #f2f2f2;*/
  margin-bottom: 120px;
}

.work h1 {
  padding: 30px 0 70px;
}

.video {
  background-color: ;
  height: ;
}

.info {
  background-color: ;
  height: 100%;
  text-align: left;
}

.info p, .info h2, .info h5 {
  margin: 0 auto;
  padding: 0;
}

.info h2 {
  margin-top: 20px;
}

.info h5 {
  padding-bottom: 6px;
  display: inline-block;
  color: #E74B3B;
}

.info p {
  margin-top: 15px;
  line-height: 1.7em;
}

.info a {
  margin-top: 25px;
}

.btn-seeitlive {
  background-color: #52616D;
  padding: 10px 20px;
  border-radius: 30px;
  margin-right: 15px;
  color: white;
  opacity: 1;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.btn-seeitlive:hover {
  opacity: .7;
  color: white;
}

/* TEAM */

.team {
  text-align: center;
  padding: 50px 0 70px;
  margin: 0px 0 60px;
  background-color: white;
}

.team .member {
  padding-top: 30px;
}

.team h4, .team p {
  margin: 0 auto;
}

.team h4 {
  margin-top: 20px;
}

.team p {
  margin: 5px;
}

.team img {
  max-width: 60%;
  margin: 0 auto;
}

.team .social {
  margin: 5px 5px;
  color: black;
  opacity: .2;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
 }

.team .social:hover {
   color: #E74B3B;
   opacity: 1;
 }

/* PRICING */

.pricing {
  padding: 40px 0;
}

.pricing row {
  margin: 0px auto;
}

.pricing h2 {
  padding-top: 20px;
}

.pricing h2, .pricing p {
  margin: 0 auto;
}

.pricing p {
  margin-top: 20px;
}

.pricing {
  padding: ;
  text-align: center;
}

.thirty, .fourtyfive, .campaign {
  margin-top: 20px;
  padding: 20px;
  background-color:;
}

.pricing .thirty {

}

.pricing .fourtyfive {

}

.pricing .campaign {

}

.pricing a {
  display: inline-block;
  /*background-color: #E74B3B;
  padding: 10px 20px;
  border-radius: 30px;*/
  margin-top: 20px;
  color: #E74B3B;
  font-size: 1.5em;
  font-weight: bold;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.pricing a:hover {
  text-decoration: none;
  /*background-color: #E74B3B;*/
  color: ;
  opacity: .7;
}

/* PROMOTIONS */
.promotions {
margin: 50px 0;
color: white;
background-color: ;
background: url(http://i.imgur.com/s3L85Wx.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.promo {
  padding: 60px;
}

.promo-1 {
  background-color: ;
}

.promo-2 {
  background-color: #E74B3B;
  background-blend-mode: multiply;
}

.promo h2 {
  margin: 0px 0 20px;
}

.promo-btn {
  color: white;
  background-color: #E74B3B;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.promo-btn:hover {
  text-decoration: none;
  background-color: #E74B3B;
  color: white;
  opacity: .7;
}

.promo-2-btn {
  color: white;
  background-color: #2C303B;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.promo-2-btn:hover {
  text-decoration: none;
  background-color: #2C303B;
  color: white;
  opacity: .7;
}

.promo p {
  opacity: .5;
  color: white;
  margin-top: 35px;
}

.promo p a {
  color: white;
  margin-top: 35px;
  font-weight: bold;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.promo p a:hover {
  text-decoration: none;
  color: ;
  opacity: .7;
}

/* CONTACT */

.contact {
  background-color: ;
  color: ;
  padding: 100px 0 100px;
  margin-top: 50px;
}

.contact h1 {
  padding-bottom: 30px;
  text-align: center;
}

.contact .checkbox label {
}

.contact button {
  width: 100%;
  color: white;
  background-color: #E74B3B;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.contact button:hover {
  background-color: #E74B3B;
  color: white;
}

/* FOOTER */
footer {
  text-align: center;
  background-color: #2C303B;
  padding: 30px;
  color: white;
}

footer .social {
  color: white;
  opacity: .3;
  margin: 10px 10px;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

footer .social:hover {
  color: white;
  opacity: 1;
}

footer h5 {
  opacity: .3;
  margin: 20px;
  letter-spacing: 3px;
  line-height: 20px;

}

footer i {

}

/* Extra Small Devices, Phones */
  @media only screen and (min-width : 200px) {
    .navbar img {
      margin-left: 20px;
    }
  }


/* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {

    .main .content {
      top: 95px;
    }

    .jumbotron h1 {
      font-size: 6.8vw;
    }

    .jumbotron h4 {
      font-size: 2.5vw;
    }

    .jumbotron .btn {
      font-size: 2vw;
    }

    .services img {
      max-width: 60%;
      margin: 0px auto 0px;
    }

    .services h5 {
      font-size: 16px;
    }

    .team img {
      max-width: 50%;
      margin: 0 auto;
    }
  }

  /* Services gird adjustment */
  @media only screen and (max-width : 636px) {
    .col-tn-6 {
      width: 50%;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    .navbar img {
      margin-left: 0px;
    }

    .main .content {
      top: 90px;
    }

    .jumbotron h1 {
      font-size: 6.2vw;
    }

    .jumbotron h4 {
      font-size: 2.1vw;
    }

    .jumbotron .btn {
      font-size: 1.5vw;
    }

    .team img {
      max-width: 70%;
      margin: 0 auto;
    }
  }

  /* Disbales Video on Mobile*/
  @media only screen and (max-width : 992px) {
    .jumbotron video {
      display: none;
    }

    .jumbotron {
      background: url(http://i.imgur.com/U1TpKqN.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      color: white;
      padding: 250px 0 75px;
      margin: 0 auto;
      position: relative;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    .main .content {
      top: 400px;
    }

    .jumbotron h1 {
      font-size: 5.2vw;
    }

    .jumbotron h4 {
      font-size: 1.7vw;
    }

    .jumbotron .btn {
      font-size: 1.3vw;
    }

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    .main .content {
      top: 500px;
    }

    .jumbotron h1 {
      font-size: 4.6vw;
    }

    .jumbotron h4 {
      font-size: 1.4vw;
    }

    .jumbotron .btn {
      font-size: 1.2vw;
    }
  }

 /* OUTLINE INSPECTOR*/
/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
